

.van{
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.corp {
    display: flex ;
    flex-direction: column;
    align-items: center;

}
.on {
    width: 80 px;
}
.off {
    width: 80 px;
}